@page
@model BoardGameCompany.Pages.BoardGames.IndexModel
@{
    ViewData["Title"] = "Board Game";
}

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Board Games</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white" asp-page="Create">
            <i class="fas fa-plus"></i> <strong>Create</strong> 
        </a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form asp-page="./Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <div class="row">
                        <div class="col-6">
                            <input type="text"
                                   name="SearchString"
                                   value="@Model.CurrentFilter"
                                   placeholder="Find Board Game..."
                                   class="form-control" />
                        </div>
                        <div class="col-6">
                            <input type="submit" value="Search" class="btn btn-primary" />
                            <a asp-page="./Index" class="btn btn-danger">Clear</a>
                        </div>
                    </div>
                    
                </p>
            </div>
        </form>

        @if (Model.BoardGames.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped table-hover border">
                    <tr class="table-secondary">
                        <th></th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort" asp-route-currentFilter="@Model.CurrentFilter">
                                <label asp-for="BoardGames.FirstOrDefault().Title"></label>
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.PlayerNumberSort" asp-route-currentFilter="@Model.CurrentFilter">
                                <label asp-for="BoardGames.FirstOrDefault().PlayerNumber"></label>
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.ReleaseDateSort" asp-route-currentFilter="@Model.CurrentFilter">
                                <label asp-for="BoardGames.FirstOrDefault().ReleaseDate"></label>
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.PriceSort" asp-route-currentFilter="@Model.CurrentFilter">
                                <label asp-for="BoardGames.FirstOrDefault().Price"></label>
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index" asp-route-sortOrder="@Model.InStock" asp-route-currentFilter="@Model.CurrentFilter">
                                <label>In Stock</label>
                            </a>
                            
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.BoardGames)
                    {
                        <tr>
                            <td>
                                <img src="@item.BoardGameImageFilePath" alt="board game" width="50"/>
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.PlayerNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.ReleaseDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Price)
                            </td>
                            <td>
                                @item.InventoryItems.Count()
                            </td>
                            <td>
                                <button class="btn btn-success">
                                    <a asp-page="Edit" asp-route-id="@item.ID">
                                        <i class="fas fa-edit text-white"></i> 
                                        
                                    </a>
                                </button>
                                <button class="btn btn-info">
                                    <a asp-page="Details" asp-route-id="@item.ID">
                                        <i class="fas fa-list text-white"></i>
                                    </a>
                                </button>
                                <button class="btn btn-danger">
                                    <a asp-page="Delete" asp-route-id="@item.ID">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>
                                </button>
                                
                            </td>
                        </tr>
                    }
                </table>
            </div>
            }
            else
            {
                <p>No board games available.</p>
            }

        @{ 
            var prevDisabled = !Model.BoardGames.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.BoardGames.HasNextPage ? "disabled" : "";
        }

    <div class="col-6">
        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-pageIndex="@(Model.BoardGames.PageIndex - 1)"
           class="btn btn-primary @prevDisabled">
            Previous
        </a>

        

        <a asp-page="./Index"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-currentFilter="@Model.CurrentFilter"
           asp-route-pageIndex="@(Model.BoardGames.PageIndex + 1)"
           class="btn btn-primary @nextDisabled">
            Next
        </a>

    </div>
        <div class="col-12">
            <p class="text-center">Page @Model.BoardGames.PageIndex of @Model.BoardGames.TotalPages</p>
        </div>
       
    </div> 
</div>
