@page
@model BoardGameCompany.Pages.UserCartList.IndexModel
@{
    ViewData["Title"] = "Cart";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 pl-0" style="background-color:white;">
        <li class="breadcrumb-item"><a style="color:gray;" asp-page="../Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Your Cart</li>
    </ol>
</nav>

<h4>
    YOUR CART (@Model.TotalQuantity @((Model.TotalQuantity == 0) || (Model.TotalQuantity > 1) ? "ITEMS" : "ITEM"))
</h4>

<hr />

@if (Model.UserCartList.Count > 0)
{
    <div class="row">
        <div class="col text-right">
            <a class="btn btn-dark mr-2" asp-page="../Index">
                CONTINUE SHOPPING
            </a>
            <a class="btn btn-primary" asp-page="/CheckOut/Index">
                CHECK OUT
            </a>
        </div>
    </div>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cart Items</th>
                <th scope="col" class="text-center">@Html.DisplayNameFor(m => m.UserCartList[0].BoardGame.Price)</th>
                <th scope="col" class="text-center">@Html.DisplayNameFor(m => m.UserCartList[0].Quantity)</th>
                <th scope="col" class="text-right">@Html.DisplayNameFor(m => m.UserCartList[0].TotalPrice)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserCartList)
            {
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="@item.BoardGame.BoardGameImageFilePath" alt="board game" width="50" />
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    @Html.DisplayFor(m => item.BoardGame.Brand.BrandName)
                                </div>
                                <div class="row">
                                    @Html.DisplayFor(m => item.BoardGame.Title)
                                </div>

                                @if((Model.ErrorMessage != null) && (Model.ErrorBoardGameId == item.BoardGameID))
                                {
                                    <div class="row text-danger">@Model.ErrorMessage</div>
                                }

                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        $@Html.DisplayFor(m => item.BoardGame.Price)
                    </td>
                    <td class="text-center">
                        <div class="row">
                            <div class="col">

                                <form method="post">
                                    <button type="submit" 
                                            asp-page-handler="edit" 
                                            asp-route-id="@item.ID" 
                                            asp-route-change="increase"
                                            asp-route-boardGameId="@item.BoardGameID"
                                            asp-route-price="@item.BoardGame.Price"
                                            class="btn btn-sm btn-outline-dark" 
                                            style="border-radius:50%;">
                                        <i class="fas fa-chevron-up"></i>
                                    </button>
                                
                                    @Html.DisplayFor(m => item.Quantity)

                                    <button type="submit"
                                            asp-page-handler="edit"
                                            asp-route-id="@item.ID"
                                            asp-route-change="decrease"
                                            asp-route-boardGameId="@item.BoardGameID"
                                            asp-route-price="@item.BoardGame.Price"
                                            class="btn btn-sm btn-outline-dark"
                                            style="border-radius:50%;">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                       

                        <form method="post">
                            $@Html.DisplayFor(m => item.TotalPrice)
                            <button type="submit"
                                    asp-page-handler="delete"
                                    asp-route-id="@item.ID"
                                    class="btn btn-sm btn-outline-dark"
                                    style="border-radius:50%;">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>

                    </td>
                
                </tr>
            }

            <tr>
                <td colspan="4">
                    <div class="row">
                        <div class="col-6"><strong>Subtotal:</strong></div>
                        <div class="col-6 text-right">$@Model.SubTotal</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="row">
                        <div class="col-6"><strong>Shipping:</strong></div>
                        <div class="col-6 text-right">Applied at checkout</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="row">
                        <div class="col-6"><strong>Tax:</strong></div>
                        <div class="col-6 text-right">$@Model.Tax</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="row">
                        <div class="col-6"><strong>Grand total:</strong></div>
                        <div class="col-6 text-right"><strong>$@Model.GrandTotal</strong></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <br />
    <div class="row">
        <div class="col text-right">
            <a class="btn btn-dark mr-2" asp-page="../Index">
                CONTINUE SHOPPING
            </a>
            <a class="btn btn-primary" asp-page="/CheckOut/Index">
                CHECK OUT
            </a>
        </div>
    </div>
}
else 
{
    <p>No items in your cart</p>
}